html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
}

ul {
    display: flex;
    margin: 2px 10%;
    list-style: none;
    justify-content: space-around;
    gap: 2px;
}

li {
    display: flex;
}

.app {
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 1 0 auto;
}

#square {
    border: 2px #202223 solid;
    flex: 0 1 auto;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.pixel {
    border: 2px #202223 solid;
    flex: 1 1 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 3px;
}


button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 11px 24px;
    min-height: 44px;
    min-width: 44px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}



button:hover,:focus {
    background: #f6f6f7;
    outline: 1px solid transparent;
}

